.get-spots {
    display: flex;
    flex-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  
  .landing-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 50px;
  }
  

  


  .card-detail {
display: flex;

  }
  



  
  .user-spot-detail {

    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-evenly;
    margin-top: 0px;

  }

  .manage-page {
   display: flex;
   font-size: 30px;
text-align: center; 
flex-direction: column;
}



 .new-spot-btn {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    background-color: #909abb;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none; */
   background-color: #a8afc5fa;
    width: 150%;
    border: none;
    border-radius: 5px;
    height: 50px;
    color: #2b324a;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    
  }

  .new-spot-btn:hover {
    background-color: #6687b4ee;
    transition: ease-in .1s;
    color:#2b324a ;
    font-weight: bolder;
    box-shadow: 2px 2px 2px rgba(2, 20, 48, 0.8);

  }

  .update-button:hover {
    background-color: #6687b4ee;
    transition: ease-in .1s;
    color:#2b324a ;
    font-weight: bolder;
    box-shadow: 2px 2px 2px rgba(2, 20, 48, 0.8);

  }


  
  .update-button{
    background-color: #a8afc5fa;
    width: 20%;
    border: none;
    border-radius: 5px;
    height: 50px;
    color: #2b324a;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    margin-left: 45px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }


  
  .update-button a{
    
    color: #ffffff;
    text-decoration: none;
  }

  
  
  .open-modal-button {
    background-color: #290930;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .open-modal-button a {
    color: #ffffff;
    text-decoration: none;
  }

  
  #delete-button, .open-modal-button {
    background-color: #a8afc5fa;
    width: 20%;
    border: none;
    border-radius: 5px;
    height: 50px;
    color: #2b324a;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    margin-left: 45px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  #delete-button a{
    
    color: #ffffff;
    text-decoration: none;
  }
  