.get-spots {
  display: flex;
  flex-wrap: wrap;
}


.landing-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.card-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: -20px;


 
}



.card-image {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 20px;
}

.card-location-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-size: 18px;
  width: 350px;
}


.card-rating {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 50px;
}

.card-rating i {
  color: #303764c4;
  margin-right: 5px;
}

.card-price {
  font-weight: bold;
  margin-top: 5px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.night-text {
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  
}