.detail-page {
  /* background-color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  } */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 100%;
  margin-left: 50px;
  padding-right: 100px;
  padding-left: 100px;
   display: flex;
  flex-direction: column;
  justify-content: space-between;

}
  .spot-header {
    margin-bottom: 20px;
  }
  
  .spot-name {
    font-size: 32px;
    font-weight: bold;

    margin: 0;
  }
  
  .spot-location {
    color: #7c788e;

    margin: 0;
  }
  
  .spot-images {

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  .preview-image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

   img:hover {
    filter: brightness(85%);

  }
  
 .preview-image img {
  width: 768px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;

  }
  
 .smaller-images-1 img {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 240px;
    max-width: 100%;
    max-height: 20%;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    cursor: pointer;

  }
  .smaller-images-1 {
    padding-left: 20px;
    border-radius: 15px;

  }


  

  @media (min-width: 768px) {
   .preview-image img .smaller-images-1 img {
      width: 100%;
      height: 50%;
      max-width: auto;
      max-height: 50%; /* Adjust the max-height value as needed */
      margin: 5px 0;
    }
  }
  
  
  .spot-host h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .spot-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid #2b324a;
    padding-bottom: 20px;
    margin-top: 12px;
  }
  
  .description {
    display: flex;
    font-size: 20px;
    margin-right: 30px;
  }
  
  .callout-box {
    border: solid black;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
  margin-bottom: auto;
    margin-left: auto;
    display: flex;
    flex-direction:column;
  }
  
  
  
  .callout-description {
    flex: 1;
    padding-right: 50px;
  }
  
  .callout-content {
 
  display: flex;
  flex-direction: row;
  
  }
  .callout-price {
    align-self: flex-start;
    width: 200px;
  }
  
  .callout-price h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    
  }
  
  .callout-reviews {
    color: #7c788e;
    align-self: flex-start;
text-align: center;    
font-size: 14px;
  }
  
  .callout-reserve button {

    padding: 10px 20px;
    background-color: #2b324a;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .review-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px; /* Add margin-bottom to control the spacing between review sections */
  }
  
  .user-review {
    font-size: 22px;
    font-weight: bold;
    color: #2b324a;
    margin-bottom: -20px; 
  }
  
  .review-date{
    font-size: 15px;
    font-weight: bold;
  }
  .spot-review {
    font-size: 13;
    margin-top: -10px;

  }



  /* {reviews?.length === 0 ? <p>Be the first to post a review</p> : reviews?.reverse().map(review => (
    <div className="review-section" key={review.id}>
        <h4 className="user-review">{review.User?.firstName} {review.User?.lastName}</h4>
        <h5 className="review-date">{convertDate(review.createdAt)}</h5>
        <p className="spot-review">{review.review}</p>
    </div>
))} */